FlightDispClient/Web References/CompFP/Plan.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:pln1="http://www.jetplan.com/jetplan/services/Plan" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://www.jetplan.com/jetplan/services/Plan" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.jetplan.com/jetplan/services/Plan">
      <s:element name="computePlan">
        <s:complexType>
          <s:sequence>
            <s:element name="request" type="pln1:PlanReq" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="computePlanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="plan" type="pln1:PlanResp" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="reformatPlan">
        <s:complexType>
          <s:sequence>
            <s:element name="request" type="pln1:ReformatReq" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="reformatPlanResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="plan" type="pln1:ReformatResp" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="compressPlans">
        <s:complexType>
          <s:sequence>
            <s:element name="request" type="pln1:CompressReq" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="compressPlansResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="plan" type="pln1:CompressResp" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PlanReq">
        <s:all>
          <s:element minOccurs="0" name="jepp-use" nillable="true" type="s:string" />
          <s:element name="login" type="pln1:Login" />
          <s:element default="-32767" name="dep-time" type="s:int" />
          <s:element minOccurs="0" name="arv-time" nillable="true" type="pln1:ArvTimeList" />
          <s:element name="pod" type="pln1:Airport" />
          <s:element name="poa" type="pln1:Airport" />
          <s:element minOccurs="0" name="etps" nillable="true" type="pln1:ETPList" />
          <s:element minOccurs="0" name="etops" type="pln1:ETOPS" />
          <s:element minOccurs="0" name="wx" type="pln1:Wx" />
          <s:element minOccurs="0" name="reclear" type="pln1:Reclear" />
          <s:element minOccurs="0" name="scenario" type="pln1:Scenario" />
          <s:element minOccurs="0" default="HGH-ALT" name="airway-structure" type="pln1:AirwayStrType" />
          <s:element minOccurs="0" name="aircraft-override" type="pln1:AircraftOverride" />
          <s:element minOccurs="0" name="alternates" nillable="true" type="pln1:AlternateList" />
          <s:element minOccurs="0" name="rte-inp" nillable="true" type="s:string" />
          <s:element minOccurs="0" name="avoid" nillable="true" type="s:string" />
          <s:element name="aircraft" type="pln1:Aircraft" />
          <s:element minOccurs="0" name="hold-data" type="pln1:Hold" />
          <s:element minOccurs="0" name="profile" nillable="true" type="pln1:ProfileList" />
          <s:element minOccurs="0" name="cruise-modes" type="pln1:CruiseModes" />
          <s:element minOccurs="0" name="clb-sch" nillable="true" type="s:string" />
          <s:element minOccurs="0" name="dsc-sch" nillable="true" type="s:string" />
          <s:element minOccurs="0" name="bias" nillable="true" type="pln1:BiasList" />
          <s:element minOccurs="0" name="perf-index" type="pln1:PfIndex" />
          <s:element name="case-data" type="pln1:Case" />
          <s:element minOccurs="0" name="reserve-policy" type="pln1:Policy" />
          <s:element minOccurs="0" name="fuel-data" type="pln1:Fuels" />
          <s:element minOccurs="0" name="options" nillable="true" type="pln1:OptionRequests" />
          <s:element minOccurs="0" name="display-data" type="pln1:Display" />
          <s:element minOccurs="0" default="-32767" name="hld-ovd" type="s:int" />
          <s:element minOccurs="0" name="ci-override" type="pln1:CiOverride" />
          <s:element minOccurs="0" name="icao-rmks" nillable="true" type="s:string" />
          <s:element minOccurs="0" default="-32767" name="hold-temp-ai-bias" type="s:int" />
          <s:element minOccurs="0" name="nwa-fuel-params" type="pln1:NWAFuelParams" />
          <s:element minOccurs="0" name="takeoff-alternate" type="pln1:Alternate" />
          <s:element minOccurs="0" name="driftdown-data" type="pln1:Driftdown" />
          <s:element minOccurs="0" name="etd-date" nillable="true" type="s:string" />
          <s:element minOccurs="0" name="flt-num" nillable="true" type="s:string" />
          <s:element minOccurs="0" name="all-sign" nillable="true" type="s:string" />
          <s:element minOccurs="0" name="followon-data" type="pln1:Followon" />
          <s:element minOccurs="0" default="NO-MTN-WAVE" name="mtn-wave" type="pln1:MtnWavType" />
          <s:element minOccurs="0" name="mel-data" type="pln1:MELData" />
          <s:element minOccurs="0" name="avd-chkpnt" nillable="true" type="pln1:AvdChkpntList" />
          <s:element minOccurs="0" name="avd-airway" nillable="true" type="pln1:AvdAirwayList" />
          <s:element minOccurs="0" name="partial-reserves" type="pln1:ResCkpt" />
          <s:element minOccurs="0" name="param-file-name" nillable="true" type="s:string" />
          <s:element minOccurs="0" name="requesters-use" nillable="true" type="s:string" />
        </s:all>
      </s:complexType>
      <s:simpleType name="YesNoType">
        <s:restriction base="s:string">
          <s:enumeration value="YES" />
          <s:enumeration value="NO" />
          <s:enumeration value="UNSET-YN" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="SpeedType">
        <s:restriction base="s:string">
          <s:enumeration value="TAS" />
          <s:enumeration value="CAS" />
          <s:enumeration value="MACH" />
          <s:enumeration value="UNSET-SPEED" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="MELCDLType">
        <s:restriction base="s:string">
          <s:enumeration value="MEL-MELCDL-TYPE" />
          <s:enumeration value="CDL-MELCDL-TYPE" />
          <s:enumeration value="DMI-MELCDL-TYPE" />
          <s:enumeration value="PDL-MELCDL-TYPE" />
          <s:enumeration value="SEL-MELCDL-TYPE" />
          <s:enumeration value="UNSET-MELCDL-TYPE" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="MELOperationType">
        <s:restriction base="s:string">
          <s:enumeration value="ADD-OPERATION" />
          <s:enumeration value="OVERRIDE-OPERATION" />
          <s:enumeration value="UNSET-OPERATION" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="MtnWavType">
        <s:restriction base="s:string">
          <s:enumeration value="NO-MTN-WAVE" />
          <s:enumeration value="NO-ALT-s:restriction-MTN-WAVE" />
          <s:enumeration value="FULL-MTN-WAVE" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="AirwayStrType">
        <s:restriction base="s:string">
          <s:enumeration value="HGH-ALT" />
          <s:enumeration value="MID-ALT" />
          <s:enumeration value="LOW-ALT" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="DDRuleType">
        <s:restriction base="s:string">
          <s:enumeration value="AI-ON-DD-RULE" />
          <s:enumeration value="AI-OFF-DD-RULE" />
          <s:enumeration value="TC-AI-ON-DD-RULE" />
          <s:enumeration value="TC-AI-OFF-DD-RULE" />
          <s:enumeration value="UNSET-DD-RULE" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="FuelAmountType">
        <s:restriction base="s:string">
          <s:enumeration value="TOTAL-LBS-FUEL" />
          <s:enumeration value="INCREMENT-FUEL" />
          <s:enumeration value="TOTAL-MINUTES-FUEL" />
          <s:enumeration value="INCREMENT-MINUTES-FUEL" />
          <s:enumeration value="PERCENT-FUEL" />
          <s:enumeration value="LOAD-PERMIT-FUEL" />
          <s:enumeration value="NON-LOAD-PERMIT-FUEL" />
          <s:enumeration value="UNSET-FUEL" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="FuelFlagType">
        <s:restriction base="s:string">
          <s:enumeration value="DISCRETIONARY" />
          <s:enumeration value="MANDATORY" />
          <s:enumeration value="UNSET-FUEL-FLAG" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="TankTempEnumType">
        <s:restriction base="s:string">
          <s:enumeration value="ALERT-TANK" />
          <s:enumeration value="AVOID-TANK" />
          <s:enumeration value="UNSET-TANK" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="FuelUnitType">
        <s:restriction base="s:string">
          <s:enumeration value="Gs:allONS-FUEL" />
          <s:enumeration value="LITER-FUEL" />
          <s:enumeration value="UNSET-FUEL-UNIT" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="AirportType">
        <s:restriction base="s:string">
          <s:enumeration value="PUBLISHED" />
          <s:enumeration value="UNPUBLISHED" />
          <s:enumeration value="ICAO" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="AltAirportType">
        <s:restriction base="s:string">
          <s:enumeration value="DEFAULT" />
          <s:enumeration value="SPECIFIED-DISTANCE" />
          <s:enumeration value="GREAT-CIRCLE" />
          <s:enumeration value="CRDB" />
          <s:enumeration value="JAROPS-ENROUTE" />
          <s:enumeration value="EXEMPTION" />
          <s:enumeration value="UNSET-ALTAP" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="ReqArrTimeType">
        <s:restriction base="s:string">
          <s:enumeration value="RAT-CI" />
          <s:enumeration value="RAT-DEPTIM" />
          <s:enumeration value="RAT-UNSET" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="BiasType">
        <s:restriction base="s:string">
          <s:enumeration value="DEP-DIS" />
          <s:enumeration value="DEP-FUEL" />
          <s:enumeration value="DEP-TIME" />
          <s:enumeration value="ARV-DIS" />
          <s:enumeration value="ARV-FUEL" />
          <s:enumeration value="ARV-TIME" />
          <s:enumeration value="CLB-DIS" />
          <s:enumeration value="CLB-FUEL" />
          <s:enumeration value="CLB-TIME" />
          <s:enumeration value="DSC-DIS" />
          <s:enumeration value="DSC-FUEL" />
          <s:enumeration value="DSC-TIME" />
          <s:enumeration value="CRZ-FUEL" />
          <s:enumeration value="CRZ-TAS" />
          <s:enumeration value="CRZ-TIME" />
          <s:enumeration value="MEL" />
          <s:enumeration value="MEL-ADHOC-FUEL" />
          <s:enumeration value="MEL-FUEL-FLOW" />
          <s:enumeration value="ALT-DIS" />
          <s:enumeration value="ALT-FUEL" />
          <s:enumeration value="ALT-TIME" />
          <s:enumeration value="UNSET-BIAS" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="AntiiceType">
        <s:restriction base="s:string">
          <s:enumeration value="ANTIICE-ON" />
          <s:enumeration value="ANTIICE-OFF" />
          <s:enumeration value="ANTIICE-ONE-THIRD-PENALTY" />
          <s:enumeration value="ANTIICE-TWO-THIRD-PENALTY" />
          <s:enumeration value="ANTIICE-UNSET" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="ReclearType">
        <s:restriction base="s:string">
          <s:enumeration value="RECLEAR-STANDARD" />
          <s:enumeration value="RECLEAR-COMPRESSION" />
          <s:enumeration value="RECLEAR-UNSET" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="RclReserveType">
        <s:restriction base="s:string">
          <s:enumeration value="ISLAND-RCL-RESERVE" />
          <s:enumeration value="DOMESTIC-RCL-RESERVE" />
          <s:enumeration value="UNSET-RCL-RESERVE" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="PolReserveType">
        <s:restriction base="s:string">
          <s:enumeration value="NO-RESERVES" />
          <s:enumeration value="DOMESTIC-RESERVES" />
          <s:enumeration value="ISLAND-RESERVES" />
          <s:enumeration value="INTERNATIONAL-RESERVES" />
          <s:enumeration value="UNSET-RESERVES" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="ProfileChangeType">
        <s:restriction base="s:string">
          <s:enumeration value="CHANGE-AFTER-CKPT" />
          <s:enumeration value="CHANGE-BEFORE-CKPT" />
          <s:enumeration value="OPTIMIZE-TO-CKPT" />
          <s:enumeration value="TRANSITION-CKPT" />
          <s:enumeration value="PROFILE-CHANGE-UNSET" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="ProfileTransitionType">
        <s:restriction base="s:string">
          <s:enumeration value="CHANGE-TO-VFR" />
          <s:enumeration value="CHANGE-TO-IFR" />
          <s:enumeration value="NO-IFR-VFR-CHANGE" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="ScenarioType">
        <s:restriction base="s:string">
          <s:enumeration value="SCN-DEFAULT-ANALYSIS" />
          <s:enumeration value="SCN-CONSIDER-ENROUTE-CHARGES" />
          <s:enumeration value="SCN-OUTPUT-ENROUTE-CHARGES" />
          <s:enumeration value="SCN-UNSET" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="RankingType">
        <s:restriction base="s:string">
          <s:enumeration value="FUEL-RANKING" />
          <s:enumeration value="TIME-RANKING" />
          <s:enumeration value="COST-RANKING" />
          <s:enumeration value="UNSET-RANKING" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="SummaryType">
        <s:restriction base="s:string">
          <s:enumeration value="COST-INDEX-SUMMARY" />
          <s:enumeration value="ROUTE-SUMMARY" />
          <s:enumeration value="DONT-USE-SCN-ISD" />
          <s:enumeration value="UNSET-SUMMARY" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="WxType">
        <s:restriction base="s:string">
          <s:enumeration value="ADF-WX" />
          <s:enumeration value="HISTORICAL-WX" />
          <s:enumeration value="GRIB-NWS-WX" />
          <s:enumeration value="GRIB-UKO-WX" />
          <s:enumeration value="STATIC-WX" />
          <s:enumeration value="WIND-STATISTICS" />
          <s:enumeration value="DEFAULT-WX" />
          <s:enumeration value="RUC-NWS-WX" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="WeightUnitsType">
        <s:restriction base="s:string">
          <s:enumeration value="WEIGHT-IN-KGS" />
          <s:enumeration value="WEIGHT-IN-LBS" />
          <s:enumeration value="WEIGHT-UNITS-UNSET" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="DistUnitsType">
        <s:restriction base="s:string">
          <s:enumeration value="DISTANCE-IN-KM" />
          <s:enumeration value="DISTANCE-IN-NM" />
          <s:enumeration value="DISTANCE-UNITS-UNSET" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="OptimizeType">
        <s:restriction base="s:string">
          <s:enumeration value="FUEL-OPTIMIZE" />
          <s:enumeration value="TIME-OPTIMIZE" />
          <s:enumeration value="COST-OPTIMIZE" />
          <s:enumeration value="UNSET-OPTIMIZE" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="CaseType">
        <s:restriction base="s:string">
          <s:enumeration value="ARRIVAL-FUEL-CASE" />
          <s:enumeration value="ARRIVAL-WEIGHT-CASE" />
          <s:enumeration value="DEPARTURE-FUEL-CASE" />
          <s:enumeration value="DEPARTURE-WEIGHT-CASE" />
          <s:enumeration value="UNSET-CASE" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="UnknownPayloadOptionType">
        <s:restriction base="s:string">
          <s:enumeration value="MAX-ZFW" />
          <s:enumeration value="MAX-PLD" />
          <s:enumeration value="MAX-PLD-ZFW-WT-CASE" />
          <s:enumeration value="UNSET-UNKNOWN-PAYLOAD-OPTION" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="DDMethodType">
        <s:restriction base="s:string">
          <s:enumeration value="NO-DD" />
          <s:enumeration value="OVERWATER-DD" />
          <s:enumeration value="TERRAIN-DD" />
          <s:enumeration value="BOTH-DD" />
          <s:enumeration value="UNSET-DD-METHOD" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="PlanOutputType">
        <s:restriction base="s:string">
          <s:enumeration value="UNKNOWN-PLAN-TYPE" />
          <s:enumeration value="STANDARD" />
          <s:enumeration value="PLAN-TO-RECLEAR-APT" />
          <s:enumeration value="RECLEAR-REDUCED-RESERVES" />
          <s:enumeration value="RECLEAR-COMPRESSION-OUTPUT" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="PlanResultsType">
        <s:restriction base="s:string">
          <s:enumeration value="PLAN-SUCCESS" />
          <s:enumeration value="PLAN-ERROR" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="MELSpeedTypeValue">
        <s:all>
          <s:element default="-32767.000000" name="speed" type="s:float" />
          <s:element default="UNSET-SPEED" name="type" type="pln1:SpeedType" />
        </s:all>
      </s:complexType>
      <s:complexType name="MELAltSpeedLimit">
        <s:all>
          <s:element default="-32767" name="altitude" type="s:int" />
          <s:element name="value" type="pln1:MELSpeedTypeValue" />
        </s:all>
      </s:complexType>
      <s:complexType name="MELAltSpeedList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="10" name="item" nillable="true" type="pln1:MELAltSpeedLimit" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MEL">
        <s:all>
          <s:element minOccurs="0" default="-32767.000000" name="fuel-flow-bias" type="s:float" />
          <s:element minOccurs="0" default="-32767.000000" name="tas-bias" type="s:float" />
          <s:element minOccurs="0" default="-32767" name="max-fltlvl" type="s:int" />
          <s:element minOccurs="0" name="max-speed-type-value" type="pln1:MELSpeedTypeValue" />
          <s:element minOccurs="0" default="-32767" name="max-tow" type="s:int" />
          <s:element minOccurs="0" default="-32767" name="max-land-wt" type="s:int" />
          <s:element minOccurs="0" default="-32767" name="max-fuel" type="s:int" />
          <s:element minOccurs="0" default="-32767" name="max-zfw" type="s:int" />
          <s:element minOccurs="0" default="-32767" name="ballast" type="s:int" />
          <s:element minOccurs="0" default="-32767" name="max-etops-time" type="s:short" />
          <s:element minOccurs="0" default="UNSET-YN" name="ow-restriction" type="pln1:YesNoType" />
          <s:element minOccurs="0" default="UNSET-YN" name="rvsm-restriction" type="pln1:YesNoType" />
          <s:element minOccurs="0" default="UNSET-YN" name="mnps-restriction" type="pln1:YesNoType" />
          <s:element minOccurs="0" default="UNSET-YN" name="rnp-restriction" type="pln1:YesNoType" />
          <s:element minOccurs="0" default="-32767" name="max-flight-time" type="s:short" />
          <s:element minOccurs="0" default="UNSET-YN" name="fuel-dump-restriction" type="pln1:YesNoType" />
          <s:element minOccurs="0" default="-32767" name="climb-penalty-weight" type="s:int" />
          <s:element minOccurs="0" default="-32767.000000" name="climb-penalty-percent" type="s:float" />
          <s:element minOccurs="0" name="alt-speed-limit" nillable="true" type="pln1:MELAltSpeedList" />
          <s:element minOccurs="0" name="description" nillable="true" type="s:string" />
          <s:element minOccurs="0" name="degradation-description" nillable="true" type="s:string" />
        </s:all>
      </s:complexType>
      <s:complexType name="MEL-Overrides">
        <s:all>
          <s:element name="ataCode" nillable="true" type="s:string" />
          <s:element default="UNSET-MELCDL-TYPE" name="melCDLtype" type="pln1:MELCDLType" />
          <s:element default="UNSET-OPERATION" name="operation" type="pln1:MELOperationType" />
          <s:element minOccurs="0" name="tracking-id" nillable="true" type="s:string" />
          <s:element minOccurs="0" name="location-code" nillable="true" type="s:string" />
        </s:all>
      </s:complexType>
      <s:complexType name="MELOverrideList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="10" name="item" nillable="true" type="pln1:MEL-Overrides" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FollowonLeg">
        <s:all>
          <s:element name="nl-dep-time" nillable="true" type="s:string" />
          <s:element name="nl-arr-st" nillable="true" type="s:string" />
          <s:element name="nl-arr-time" nillable="true" type="s:string" />
        </s:all>
      </s:complexType>
      <s:complexType name="AirportList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="25" name="item" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TerrainDd">
        <s:all>
          <s:element minOccurs="0" default="UNSET-DD-RULE" name="rule1" type="pln1:DDRuleType" />
          <s:element minOccurs="0" default="UNSET-DD-RULE" name="rule2" type="pln1:DDRuleType" />
          <s:element minOccurs="0" default="UNSET-DD-RULE" name="rule3" type="pln1:DDRuleType" />
          <s:element minOccurs="0" default="UNSET-DD-RULE" name="rule4" type="pln1:DDRuleType" />
          <s:element minOccurs="0" default="-32767" name="max-divert-bases" type="s:int" />
          <s:element minOccurs="0" default="-32767" name="max-search-dist" type="s:int" />
          <s:element minOccurs="0" default="0" name="isa-pad" type="s:int" />
          <s:element minOccurs="0" default="0" name="wind-pad" type="s:int" />
          <s:element minOccurs="0" default="0" name="short-search" type="s:boolean" />
          <s:element minOccurs="0" default="0" name="wx-time-window" type="s:int" />
          <s:element minOccurs="0" default="0" name="abbrv-report" type="s:boolean" />
          <s:element minOccurs="0" default="0" name="qualify-climb" type="s:boolean" />
          <s:element minOccurs="0" default="0" name="landings-limiting" type="s:boolean" />
          <s:element minOccurs="0" default="0" name="fuel-rsrv-time" type="s:int" />
          <s:element minOccurs="0" default="0" name="fuel-rsrv-lbs" type="s:int" />
          <s:element minOccurs="0" default="0" name="all-alts-valid" type="s:boolean" />
          <s:element minOccurs="0" default="0" name="three-fl-on" type="s:boolean" />
          <s:element minOccurs="0" default="1" name="delete-summary" type="s:boolean" />
          <s:element minOccurs="0" name="disqualified-alts" nillable="true" type="pln1:AirportList" />
          <s:element minOccurs="0" default="0" name="fuel-check-flag" type="s:int" />
          <s:element minOccurs="0" default="0" name="dd-fuel-check" type="s:int" />
        </s:all>
      </s:complexType>
      <s:complexType name="Fuel">
        <s:all>
          <s:element default="UNSET-FUEL" name="type" type="pln1:FuelAmountType" />
          <s:element default="-32767" name="amount" type="s:int" />
        </s:all>
      </s:complexType>
      <s:complexType name="FuelMsg">
        <s:all>
          <s:element name="fuel" type="pln1:Fuel" />
          <s:element name="description" nillable="true" type="s:string" />
        </s:all>
      </s:complexType>
      <s:complexType name="FuelFlg">
        <s:all>
          <s:element name="fuel" type="pln1:Fuel" />
          <s:element minOccurs="0" default="TANKER" name="description" nillable="true" type="s:string" />
          <s:element default="UNSET-FUEL-FLAG" name="flag" type="pln1:FuelFlagType" />
        </s:all>
      </s:complexType>
      <s:complexType name="TankTemp">
        <s:all>
          <s:element default="-32767" name="time-limit" type="s:int" />
          <s:element default="UNSET-TANK" name="flag" type="pln1:TankTempEnumType" />
        </s:all>
      </s:complexType>
      <s:complexType name="FuelCost">
        <s:all>
          <s:element name="price" nillable="true" type="s:string" />
          <s:element default="UNSET-FUEL-UNIT" name="units" type="pln1:FuelUnitType" />
          <s:element name="currency" nillable="true" type="s:string" />
        </s:all>
      </s:complexType>
      <s:complexType name="Airport">
        <s:all>
          <s:element minOccurs="0" default="PUBLISHED" name="airport-type" type="pln1:AirportType" />
          <s:element name="arptid" nillable="true" type="s:string" />
          <s:element minOccurs="0" default="-32767" name="lat" type="s:int" />
          <s:element minOccurs="0" default="-32767" name="lon" type="s:int" />
          <s:element minOccurs="0" default="-32767" name="elev" type="s:int" />
          <s:element minOccurs="0" default="-32767" name="taxi-time" type="s:int" />
          <s:element minOccurs="0" name="out-in" nillable="true" type="s:string" />
          <s:element minOccurs="0" name="off-on" nillable="true" type="s:string" />
          <s:element minOccurs="0" name="taxi-fuel" type="pln1:Fuel" />
          <s:element minOccurs="0" name="fuel-cost" type="pln1:FuelCost" />
          <s:element minOccurs="0" name="pod-country" nillable="true" type="s:string" />
          <s:element minOccurs="0" name="pod-waypoint" nillable="true" type="s:string" />
        </s:all>
      </s:complexType>
      <s:complexType name="Alternate">
        <s:all>
          <s:element default="UNSET-ALTAP" name="type" type="pln1:AltAirportType" />
          <s:element name="arptid" nillable="true" type="s:string" />
          <s:element minOccurs="0" default="-32767" name="dist" type="s:int" />
          <s:element minOccurs="0" name="crdb-name" nillable="true" type="s:string" />
          <s:element minOccurs="0" default="-32767" name="alt-fuel" type="s:short" />
          <s:element minOccurs="0" name="burn" type="pln1:Fuel" />
          <s:element minOccurs="0" default="-32767" name="altitude-override" type="s:int" />
          <s:element minOccurs="0" default="-32767" name="min-flv" type="s:int" />
          <s:element minOccurs="0" default="-32767" name="max-flv" type="s:int" />
          <s:element minOccurs="0" default="-32767" name="to-alt-plan-num" type="s:int" />
        </s:all>
      </s:complexType>
      <s:complexType name="AlternateList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="6" name="item" nillable="true" type="pln1:Alternate" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArvTime">
        <s:all>
          <s:element default="RAT-UNSET" name="req-arr-time-type" type="pln1:ReqArrTimeType" />
          <s:element name="point" nillable="true" type="s:string" />
          <s:element default="-32767" name="time" type="s:int" />
        </s:all>
      </s:complexType>
      <s:complexType name="ArvTimeList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="5" name="item" nillable="true" type="pln1:ArvTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Bias">
        <s:all>
          <s:element default="UNSET-BIAS" name="type" type="pln1:BiasType" />
          <s:element name="crznam" nillable="true" type="s:string" />
          <s:element name="value" nillable="true" type="s:string" />
        </s:all>
      </s:complexType>
      <s:complexType name="BiasList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="12" name="item" nillable="true" type="pln1:Bias" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ETP">
        <s:all>
          <s:element name="apt-bak" nillable="true" type="s:string" />
          <s:element name="apt-fwd" nillable="true" type="s:string" />
          <s:element default="ANTIICE-UNSET" name="anti-ice-enroute-bak" type="pln1:AntiiceType" />
          <s:element default="ANTIICE-UNSET" name="anti-ice-terminal-bak" type="pln1:AntiiceType" />
          <s:element minOccurs="0" default="-32767" name="minalt-bak" type="s:int" />
          <s:element default="ANTIICE-UNSET" name="anti-ice-enroute-fwd" type="pln1:AntiiceType" />
          <s:element default="ANTIICE-UNSET" name="anti-ice-terminal-fwd" type="pln1:AntiiceType" />
          <s:element minOccurs="0" default="-32767" name="minalt-fwd" type="s:int" />
        </s:all>
      </s:complexType>
      <s:complexType name="ETPList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="12" name="item" nillable="true" type="pln1:ETP" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="adhocCoverList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="20" name="item" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="exclusionsList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="20" name="item" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ETOPS">
        <s:all>
          <s:element minOccurs="0" default="-32767" name="apprv-time" type="s:int" />
          <s:element minOccurs="0" default="-32767" name="etop-uplift-fuel-flag" type="s:int" />
          <s:element minOccurs="0" name="ice-drag-prop" nillable="true" type="s:string" />
          <s:element minOccurs="0" name="scm-setName" nillable="true" type="s:string" />
          <s:element minOccurs="0" default="-32767" name="scm-dvrTime" type="s:int" />
          <s:element minOccurs="0" default="UNSET-YN" name="etop-add-pod-poa" type="pln1:YesNoType" />
          <s:element minOccurs="0" name="adhoc-cover" nillable="true" type="pln1:adhocCoverList" />
          <s:element minOccurs="0" name="exclusions" nillable="true" type="pln1:exclusionsList" />
        </s:all>
      </s:complexType>
      <s:complexType name="Cruise">
        <s:all>
          <s:element name="crznam" nillable="true" type="s:string" />
          <s:element name="chkpnt" nillable="true" type="s:string" />
        </s:all>
      </s:complexType>
      <s:complexType name="CruiseList">
        <s:sequence>
          <s:element maxOccurs="3" name="item" nillable="true" type="pln1:Cruise" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CruiseModes">
        <s:all>
          <s:element minOccurs="0" name="cruise-to-poa" nillable="true" type="s:string" />
          <s:element minOccurs="0" name="cruise" nillable="true" type="pln1:CruiseList" />
          <s:element minOccurs="0" name="aux-crz" nillable="true" type="s:string" />
        </s:all>
      </s:complexType>
      <s:complexType name="Orbit">
        <s:all>
          <s:element name="chkpnt" nillable="true" type="s:string" />
          <s:element default="-32767" name="fltlvl" type="s:int" />
          <s:element name="crznam" nillable="true" type="s:string" />
          <s:element default="-32767" name="time" type="s:int" />
          <s:element default="-32767" name="fuel-amount" type="s:int" />
        </s:all>
      </s:complexType>
      <s:complexType name="Refuel">
        <s:all>
          <s:element name="chkpnt" nillable="true" type="s:string" />
          <s:element default="-32767" name="fuel" type="s:int" />
          <s:element minOccurs="0" default="-32767" name="hold-time" type="s:int" />
        </s:all>
      </s:complexType>
      <s:complexType name="Reclear">
        <s:all>
          <s:element default="RECLEAR-UNSET" name="type" type="pln1:ReclearType" />
          <s:element name="point" nillable="true" type="s:string" />
          <s:element name="poa" nillable="true" type="s:string" />
          <s:element minOccurs="0" name="alternate" type="pln1:Alternate" />
          <s:element minOccurs="0" default="-32767" name="hold" type="s:int" />
          <s:element minOccurs="0" default="UNSET-RCL-RESERVE" name="reserve-type" type="pln1:RclReserveType" />
          <s:element minOccurs="0" default="-32767" name="reserve" type="s:int" />
          <s:element minOccurs="0" name="route" nillable="true" type="s:string" />
          <s:element minOccurs="0" default="-32767" name="min-alt" type="s:int" />
          <s:element minOccurs="0" default="-32767" name="max-alt" type="s:int" />
          <s:element minOccurs="0" default="-32767" name="max-land-wt" type="s:int" />
        </s:all>
      </s:complexType>
      <s:complexType name="Policy">
        <s:all>
          <s:element default="NO-RESERVES" name="type" type="pln1:PolReserveType" />
          <s:element default="-32767" name="time" type="s:int" />
          <s:element minOccurs="0" default="-32767" name="policy" type="s:int" />
          <s:element minOccurs="0" default="-32767" name="mcht" type="s:int" />
          <s:element minOccurs="0" default="-32767" name="mcct" type="s:int" />
        </s:all>
      </s:complexType>
      <s:complexType name="Profile">
        <s:all>
          <s:element minOccurs="0" name="chkpnt" nillable="true" type="s:string" />
          <s:element minOccurs="0" default="-32767" name="min-flv" type="s:short" />
          <s:element minOccurs="0" default="-32767" name="max-flv" type="s:short" />
          <s:element default="CHANGE-AFTER-CKPT" name="change" type="pln1:ProfileChangeType" />
          <s:element minOccurs="0" default="NO-IFR-VFR-CHANGE" name="flight-rule-change" type="pln1:ProfileTransitionType" />
        </s:all>
      </s:complexType>
      <s:complexType name="ProfileList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="30" name="item" nillable="true" type="pln1:Profile" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MbarAltList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="9" name="item" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Scenario">
        <s:all>
          <s:element default="SCN-UNSET" name="type" type="pln1:ScenarioType" />
          <s:element name="ranking" type="pln1:RankingType" />
          <s:element minOccurs="0" name="mbar-alt" nillable="true" type="pln1:MbarAltList" />
          <s:element default="UNSET-SUMMARY" name="scn-flg" type="pln1:SummaryType" />
          <s:element minOccurs="0" name="scn-fmt" nillable="true" type="s:string" />
          <s:element minOccurs="0" default="-32767" name="low-ci" type="s:short" />
          <s:element minOccurs="0" default="-32767" name="high-ci" type="s:short" />
          <s:element minOccurs="0" default="-32767" name="ci-increment" type="s:short" />
          <s:element minOccurs="0" default="-32767" name="max-plan-display" type="s:short" />
        </s:all>
      </s:complexType>
      <s:complexType name="Wx">
        <s:all>
          <s:element minOccurs="0" default="ADF-WX" name="type" type="pln1:WxType" />
          <s:element minOccurs="0" default="-32767" name="temp" type="s:int" />
          <s:element minOccurs="0" default="-32767" name="wind" type="s:int" />
          <s:element minOccurs="0" default="-32767" name="month" type="s:int" />
          <s:element minOccurs="0" default="-32767" name="month-end" type="s:int" />
          <s:element minOccurs="0" default="-32767" name="reliability-percentile" type="s:int" />
        </s:all>
      </s:complexType>
      <s:complexType name="AvdAirway">
        <s:all>
          <s:element name="chkpnt1" nillable="true" type="s:string" />
          <s:element name="chkpnt2" nillable="true" type="s:string" />
          <s:element name="airway" nillable="true" type="s:string" />
          <s:element default="-32767" name="lower-altitude" type="s:int" />
          <s:element default="-32767" name="upper-altitude" type="s:int" />
        </s:all>
      </s:complexType>
      <s:complexType name="AvdAirwayList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="10" name="item" nillable="true" type="pln1:AvdAirway" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AvdChkpntList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="20" name="item" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ResCkpt">
        <s:all>
          <s:element name="res-begin" nillable="true" type="s:string" />
          <s:element name="res-end" nillable="true" type="s:string" />
        </s:all>
      </s:complexType>
      <s:complexType name="holdPOA">
        <s:all>
          <s:element default="-32767" name="time" type="s:int" />
          <s:element minOccurs="0" default="-32767" name="level" type="s:int" />
        </s:all>
      </s:complexType>
      <s:complexType name="Login">
        <s:all>
          <s:element name="userid" nillable="true" type="s:string" />
          <s:element name="passwd" nillable="true" type="s:string" />
        </s:all>
      </s:complexType>
      <s:complexType name="Aircraft">
        <s:all>
          <s:element minOccurs="0" name="generic-aircraft" nillable="true" type="s:string" />
          <s:element minOccurs="0" name="cust-aircraft" nillable="true" type="s:string" />
          <s:element minOccurs="0" default="-32767" name="op-weight" type="s:int" />
          <s:element minOccurs="0" default="-32767" name="max-fuel" type="s:int" />
          <s:element minOccurs="0" default="-32767" name="max-tow" type="s:int" />
          <s:element minOccurs="0" default="-32767" name="max-land-wt" type="s:int" />
          <s:element minOccurs="0" default="-32767" name="zfw-override" type="s:int" />
          <s:element minOccurs="0" default="UNSET-YN" name="rvsm-override" type="pln1:YesNoType" />
        </s:all>
      </s:complexType>
      <s:complexType name="UnitsOverride">
        <s:all>
          <s:element minOccurs="0" default="WEIGHT-UNITS-UNSET" name="weight" type="pln1:WeightUnitsType" />
          <s:element minOccurs="0" default="DISTANCE-UNITS-UNSET" name="distance" type="pln1:DistUnitsType" />
        </s:all>
      </s:complexType>
      <s:complexType name="ReformatRequest">
        <s:all>
          <s:element name="format" nillable="true" type="s:string" />
          <s:element minOccurs="0" default="1" name="all-plans" type="s:boolean" />
        </s:all>
      </s:complexType>
      <s:complexType name="Display">
        <s:all>
          <s:element minOccurs="0" name="format" nillable="true" type="s:string" />
          <s:element minOccurs="0" name="fmt-hdr" nillable="true" type="s:string" />
          <s:element minOccurs="0" name="flt-info" nillable="true" type="s:string" />
          <s:element minOccurs="0" name="captain" nillable="true" type="s:string" />
          <s:element minOccurs="0" name="first-officer" nillable="true" type="s:string" />
          <s:element minOccurs="0" name="flt-eng" nillable="true" type="s:string" />
          <s:element minOccurs="0" name="dispatcher" nillable="true" type="s:string" />
          <s:element minOccurs="0" name="dispatcher2" nillable="true" type="s:string" />
          <s:element minOccurs="0" name="message" nillable="true" type="s:string" />
          <s:element minOccurs="0" name="units-overrides" type="pln1:UnitsOverride" />
          <s:element minOccurs="0" name="reformat" type="pln1:ReformatRequest" />
        </s:all>
      </s:complexType>
      <s:complexType name="OrbitList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="12" name="item" nillable="true" type="pln1:Orbit" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Hold">
        <s:all>
          <s:element minOccurs="0" default="-32767" name="time" type="s:int" />
          <s:element minOccurs="0" name="fuel" type="pln1:Fuel" />
          <s:element minOccurs="0" name="orbit" nillable="true" type="pln1:OrbitList" />
          <s:element minOccurs="0" name="hold-over-poa" type="pln1:holdPOA" />
        </s:all>
      </s:complexType>
      <s:complexType name="PfIndex">
        <s:all>
          <s:element default="UNSET-OPTIMIZE" name="pfm-index" type="pln1:OptimizeType" />
          <s:element minOccurs="0" default="-32767" name="fuel-cost" type="s:int" />
          <s:element minOccurs="0" default="-32767" name="time-cost" type="s:int" />
        </s:all>
      </s:complexType>
      <s:complexType name="Case">
        <s:all>
          <s:element default="UNSET-CASE" name="weight-payload-case" type="pln1:CaseType" />
          <s:element minOccurs="0" default="UNSET-UNKNOWN-PAYLOAD-OPTION" name="unknown-payload-case" type="pln1:UnknownPayloadOptionType" />
          <s:element default="-32767" name="fuel" type="s:int" />
          <s:element default="-32767" name="weight" type="s:int" />
          <s:element default="-32767" name="payload" type="s:int" />
        </s:all>
      </s:complexType>
      <s:complexType name="RefuelList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="12" name="item" nillable="true" type="pln1:Refuel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Fuels">
        <s:all>
          <s:element minOccurs="0" default="-32767" name="fod" type="s:int" />
          <s:element minOccurs="0" default="-32767" name="mfod" type="s:int" />
          <s:element minOccurs="0" default="-32767" name="ballast" type="s:int" />
          <s:element minOccurs="0" default="-32767" name="pad-fuel" type="s:int" />
          <s:element minOccurs="0" default="-32767" name="extra" type="s:int" />
          <s:element minOccurs="0" name="ex-fl-st" type="pln1:Fuel" />
          <s:element minOccurs="0" name="refuel" nillable="true" type="pln1:RefuelList" />
          <s:element minOccurs="0" default="-32767" name="min-ramp" type="s:int" />
          <s:element minOccurs="0" default="-32767" name="adjustment" type="s:int" />
          <s:element minOccurs="0" default="-32767" name="tkr-fuel" type="s:int" />
          <s:element minOccurs="0" default="-32767" name="max-tank" type="s:int" />
          <s:element minOccurs="0" name="density" nillable="true" type="s:string" />
          <s:element minOccurs="0" default="-32767" name="pcf" type="s:int" />
          <s:element minOccurs="0" default="-32767" name="pct" type="s:int" />
        </s:all>
      </s:complexType>
      <s:complexType name="DcsnFuel">
        <s:all>
          <s:element default="-32767" name="flag" type="s:int" />
          <s:element name="fuel" type="pln1:Fuel" />
        </s:all>
      </s:complexType>
      <s:complexType name="NWAFuelParams">
        <s:all>
          <s:element minOccurs="0" name="dcsn-fuel-data" type="pln1:DcsnFuel" />
          <s:element name="load-permitting-fuel" type="pln1:FuelMsg" />
          <s:element minOccurs="0" name="additional-unusable" type="pln1:FuelMsg" />
          <s:element minOccurs="0" name="additional-usable" type="pln1:FuelFlg" />
          <s:element minOccurs="0" name="min-company-hold-override" type="pln1:Fuel" />
          <s:element minOccurs="0" name="FAR-reserve-override" type="pln1:Fuel" />
          <s:element minOccurs="0" name="release" type="pln1:Fuel" />
          <s:element minOccurs="0" name="tnk-tmp" type="pln1:TankTemp" />
        </s:all>
      </s:complexType>
      <s:complexType name="OptionRequests">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="33" name="item" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Followon">
        <s:all>
          <s:element default="-32767" name="terminus" type="s:int" />
          <s:element minOccurs="0" name="follow" type="pln1:FollowonLeg" />
        </s:all>
      </s:complexType>
      <s:complexType name="AircraftOverride">
        <s:all>
          <s:element minOccurs="0" default="-32767" name="pod-txi" type="s:int" />
          <s:element minOccurs="0" default="-32767" name="poa-txi" type="s:int" />
        </s:all>
      </s:complexType>
      <s:complexType name="CiOverride">
        <s:all>
          <s:element minOccurs="0" default="-32767" name="ci-min" type="s:int" />
          <s:element minOccurs="0" default="-32767" name="ci-max" type="s:int" />
        </s:all>
      </s:complexType>
      <s:complexType name="Driftdown">
        <s:all>
          <s:element default="UNSET-DD-METHOD" name="dd-mthd" type="pln1:DDMethodType" />
          <s:element minOccurs="0" name="terr-dd" type="pln1:TerrainDd" />
        </s:all>
      </s:complexType>
      <s:complexType name="MELData">
        <s:all>
          <s:element minOccurs="0" name="mel-text" nillable="true" type="s:string" />
          <s:element minOccurs="0" name="mels" type="pln1:MEL" />
          <s:element minOccurs="0" default="-32767" name="mel-dd-wtpenalty" type="s:int" />
          <s:element minOccurs="0" name="mel-db-overrides" nillable="true" type="pln1:MELOverrideList" />
        </s:all>
      </s:complexType>
      <s:complexType name="Alert">
        <s:all>
          <s:element name="tag" nillable="true" type="s:string" />
          <s:element name="msg" nillable="true" type="s:string" />
        </s:all>
      </s:complexType>
      <s:complexType name="AlertList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="pln1:Alert" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PlanFuel">
        <s:all>
          <s:element name="dep-fuel" type="s:int" />
          <s:element name="hold" type="s:int" />
          <s:element name="alternate" type="s:int" />
          <s:element name="reserve" type="s:int" />
          <s:element name="burn" type="s:int" />
          <s:element name="poa-burn" type="s:int" />
        </s:all>
      </s:complexType>
      <s:complexType name="PlanTime">
        <s:all>
          <s:element name="hold" type="s:int" />
          <s:element name="alternate" type="s:int" />
          <s:element name="reserve" type="s:int" />
          <s:element name="time" type="s:int" />
        </s:all>
      </s:complexType>
      <s:complexType name="PlanWeight">
        <s:all>
          <s:element name="payload" type="s:int" />
          <s:element name="op-weight" type="s:int" />
          <s:element name="dep-weight" type="s:int" />
          <s:element name="arr-weight" type="s:int" />
        </s:all>
      </s:complexType>
      <s:complexType name="PlanDistance">
        <s:all>
          <s:element name="alt-dis" type="s:int" />
          <s:element name="dist" type="s:int" />
        </s:all>
      </s:complexType>
      <s:complexType name="PlanCost">
        <s:all>
          <s:element name="cost" type="s:int" />
        </s:all>
      </s:complexType>
      <s:complexType name="Plan">
        <s:all>
          <s:element name="status" type="pln1:PlanResultsType" />
          <s:element name="type" type="pln1:PlanOutputType" />
          <s:element name="err-code" nillable="true" type="s:string" />
          <s:element name="err-text" nillable="true" type="s:string" />
          <s:element minOccurs="0" name="alert-msgs" nillable="true" type="pln1:AlertList" />
          <s:element name="plan-number" type="s:int" />
          <s:element name="fuels" type="pln1:PlanFuel" />
          <s:element name="times" type="pln1:PlanTime" />
          <s:element name="weights" type="pln1:PlanWeight" />
          <s:element name="distances" type="pln1:PlanDistance" />
          <s:element name="costs" type="pln1:PlanCost" />
          <s:element name="data-size" type="s:int" />
          <s:element minOccurs="0" name="data" nillable="true" type="s:string" />
        </s:all>
      </s:complexType>
      <s:complexType name="PlanList">
        <s:sequence>
          <s:element maxOccurs="4" name="item" nillable="true" type="pln1:Plan" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PlanResp">
        <s:all>
          <s:element name="plans" nillable="true" type="pln1:PlanList" />
          <s:element minOccurs="0" name="format-found" type="s:boolean" />
          <s:element minOccurs="0" name="reformatted-plans" nillable="true" type="pln1:PlanList" />
          <s:element minOccurs="0" name="requesters-use" nillable="true" type="s:string" />
        </s:all>
      </s:complexType>
      <s:complexType name="ReformatReq">
        <s:all>
          <s:element name="login" type="pln1:Login" />
          <s:element name="plan-number" type="s:int" />
          <s:element name="format" nillable="true" type="s:string" />
          <s:element minOccurs="0" name="param-file-name" nillable="true" type="s:string" />
          <s:element minOccurs="0" name="requesters-use" nillable="true" type="s:string" />
        </s:all>
      </s:complexType>
      <s:complexType name="ReformatResp">
        <s:all>
          <s:element name="format-found" type="s:boolean" />
          <s:element name="plan" nillable="true" type="pln1:Plan" />
          <s:element minOccurs="0" name="requesters-use" nillable="true" type="s:string" />
        </s:all>
      </s:complexType>
      <s:complexType name="PlanNumList">
        <s:sequence>
          <s:element maxOccurs="25" name="item" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CompressReq">
        <s:all>
          <s:element name="login" type="pln1:Login" />
          <s:element name="plan-numbers" nillable="true" type="pln1:PlanNumList" />
          <s:element name="format" nillable="true" type="s:string" />
          <s:element minOccurs="0" name="param-file-name" nillable="true" type="s:string" />
          <s:element minOccurs="0" name="requesters-use" nillable="true" type="s:string" />
        </s:all>
      </s:complexType>
      <s:complexType name="CompressResp">
        <s:all>
          <s:element name="format-found" type="s:boolean" />
          <s:element name="plan" nillable="true" type="pln1:Plan" />
          <s:element minOccurs="0" name="requesters-use" nillable="true" type="s:string" />
        </s:all>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="computePlanSoapIn">
    <wsdl:part name="parameters" element="pln1:computePlan" />
  </wsdl:message>
  <wsdl:message name="computePlanSoapOut">
    <wsdl:part name="parameters" element="pln1:computePlanResponse" />
  </wsdl:message>
  <wsdl:message name="reformatPlanSoapIn">
    <wsdl:part name="parameters" element="pln1:reformatPlan" />
  </wsdl:message>
  <wsdl:message name="reformatPlanSoapOut">
    <wsdl:part name="parameters" element="pln1:reformatPlanResponse" />
  </wsdl:message>
  <wsdl:message name="compressPlansSoapIn">
    <wsdl:part name="parameters" element="pln1:compressPlans" />
  </wsdl:message>
  <wsdl:message name="compressPlansSoapOut">
    <wsdl:part name="parameters" element="pln1:compressPlansResponse" />
  </wsdl:message>
  <wsdl:portType name="PlanSoap">
    <wsdl:operation name="computePlan">
      <wsdl:input message="pln1:computePlanSoapIn" />
      <wsdl:output message="pln1:computePlanSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="reformatPlan">
      <wsdl:input message="pln1:reformatPlanSoapIn" />
      <wsdl:output message="pln1:reformatPlanSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="compressPlans">
      <wsdl:input message="pln1:compressPlansSoapIn" />
      <wsdl:output message="pln1:compressPlansSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PlanSoap" type="pln1:PlanSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="computePlan">
      <soap:operation soapAction="http://www.jetplan.com/jetplan/services/Plan/computePlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reformatPlan">
      <soap:operation soapAction="http://www.jetplan.com/jetplan/services/Plan/reformatPlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="compressPlans">
      <soap:operation soapAction="http://www.jetplan.com/jetplan/services/Plan/compressPlans" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Plan">
    <wsdl:port name="PlanSoap" binding="pln1:PlanSoap">
      <soap:address location="http://10.2.104.250:4680/jetplan/services/Plan" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>