FlightMonitorBF/Web References/SimWebService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getFLTPSR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strFLTID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDATOP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDEP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strARR" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getFLTPSRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getFLTPSRResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getFLTPSRClass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strFLTID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDATOP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDEP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strARR" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="strTYPE" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getFLTPSRClassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getFLTPSRClassResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getFLTPSRSUM">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strFLTID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDATOP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDEP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strARR" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getFLTPSRSUMResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getFLTPSRSUMResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="getFLTPSRSoapIn">
    <wsdl:part name="parameters" element="tns:getFLTPSR" />
  </wsdl:message>
  <wsdl:message name="getFLTPSRSoapOut">
    <wsdl:part name="parameters" element="tns:getFLTPSRResponse" />
  </wsdl:message>
  <wsdl:message name="getFLTPSRClassSoapIn">
    <wsdl:part name="parameters" element="tns:getFLTPSRClass" />
  </wsdl:message>
  <wsdl:message name="getFLTPSRClassSoapOut">
    <wsdl:part name="parameters" element="tns:getFLTPSRClassResponse" />
  </wsdl:message>
  <wsdl:message name="getFLTPSRSUMSoapIn">
    <wsdl:part name="parameters" element="tns:getFLTPSRSUM" />
  </wsdl:message>
  <wsdl:message name="getFLTPSRSUMSoapOut">
    <wsdl:part name="parameters" element="tns:getFLTPSRSUMResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getFLTPSR">
      <wsdl:input message="tns:getFLTPSRSoapIn" />
      <wsdl:output message="tns:getFLTPSRSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getFLTPSRClass">
      <wsdl:input message="tns:getFLTPSRClassSoapIn" />
      <wsdl:output message="tns:getFLTPSRClassSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getFLTPSRSUM">
      <wsdl:input message="tns:getFLTPSRSUMSoapIn" />
      <wsdl:output message="tns:getFLTPSRSUMSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFLTPSR">
      <soap:operation soapAction="http://tempuri.org/getFLTPSR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFLTPSRClass">
      <soap:operation soapAction="http://tempuri.org/getFLTPSRClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFLTPSRSUM">
      <soap:operation soapAction="http://tempuri.org/getFLTPSRSUM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFLTPSR">
      <soap12:operation soapAction="http://tempuri.org/getFLTPSR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFLTPSRClass">
      <soap12:operation soapAction="http://tempuri.org/getFLTPSRClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFLTPSRSUM">
      <soap12:operation soapAction="http://tempuri.org/getFLTPSRSUM" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://10.2.58.163/SimWebService/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://10.2.58.163/SimWebService/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>